@font-face {
    font-family: PoppinsMedium;
    src: url(../fonts/Poppins-Medium.otf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(../fonts/Poppins-Bold.otf);
}

@font-face {
    font-family: PoppinsItalic;
    src: url(../fonts/Poppins-Italic.otf);
}